node_modules/
jspm_packages/
web_modules/
.npm/
.eslintcache
.parcel-cache
.turbo/
dist/
build/

venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
saved_models/*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

.DS_Store
Thumbs.db

backend/src/logs/*.log
*.log
